<% include ../partials/header%>


<h1><%=avenger.power%></h1>



<h1>
    <%= avenger.author.id%>
</h1>

<% console.log(user._id)%>


<%for(let posts of avenger.posts){%>
    <h3><%=posts.author.name%></h3>
    <p><%=posts.message%></p>

    <% if(user._id.equals(posts.author.id)) { %>

    <a href="/avengers/<%=avenger._id%>/comment/<%=posts._id%>/edit">edit Comment</a>
<%}%>

    <p>
        
<form action="/avengers/<%=avenger._id%>/comment/<%=posts._id%>?_method=Delete" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">

    <% if(user._id.equals(posts.author.id)) { %>
    
    <button>Delete Comment</button>
<%}%>
    
</form>
    </p>
<%}%>

<p>
    <% if(user._id.equals(avenger.author.id)) { %>

<a href="/avengers/<%=avenger._id%>/edit">edit</a>
<%  } %>


</p>

<form action="/avenger/<%=avenger._id%>?_method=Delete" method="POST">
    

    <% if(user._id.equals(avenger.author.id)) { %>

    <button>Delete Avenger</button>

    <%  } %>
    <p>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">

        <a href="/avengers/<%=avenger._id%>/comment/new">New Comment</a>

    </p>

</form>

<a href="/">Home</a>
<% include ../partials/footer%>