<% include ../partials/header%>


<h1><%=avenger.power%></h1>


<%for(let posts of avenger.posts){%>

    <h3><%=posts.author.name%></h3>
    <p><%=posts.message%></p>

    <a href="/avengers/<%=avenger._id%>/comment/<%=posts._id%>/edit">edit Comment</a>
    <p>
        
<form action="/avengers/<%=avenger._id%>/comment/<%=posts._id%>?_method=Delete" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">

    <button>Delete Comment</button>
    
</form>
    </p>



<%}%>

<form action="/avenger/<%=avenger._id%>?_method=Delete" method="POST">

    <button>Delete Avenger</button>
    <p>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">

        <a href="/avengers/<%=avenger._id%>/comment/new">New Comment</a>

    </p>

</form>

<a href="/">Home</a>
<% include ../partials/footer%>
